/* Start Global Rules */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:root {
	--main-color: #2196f3;
	--main-color-alt: #40a0ef;
	--main-transition: 0.3s;
	--main-padding-top: 30px;
	--main-padding-bottom: 30px;
	--section-background: #ececec;
	--title-size: 2.8rem;
	--code: #bcbaba;
	--code-span: rgb(37, 37, 37);
	--box-shadow: rgb(0 0 0 / 10%);
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Source Serif Pro", serif;
	font-family: "Work Sans", sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
	transition: var(--main-transition);
}
a:hover {
	text-decoration: underline;
	color: inherit;
}
a:visited {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* End Global Rules */

header {
	width: 100%;
	height: 100px;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

header .container .title {
	display: flex;
	align-items: center;
}

header .container .title span {
	font-size: 2rem;
	font-weight: bold;
	color: var(--main-color);
	margin-left: 10px;
}

header .container .links {
	display: flex;
	align-items: center;
	flex-direction: column;
}

header .container .links ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-right: 60px;
	gap: 160px;
	width: 100%;
}

header .container .links ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
}

header .container .links li a {
	text-decoration: none;
	color: black;
	transition: var(--main-transition);
}

header .container .links li a:hover {
	transition: var(--main-transition);
	text-decoration: underline;
	color: var(--main-color-alt);
}

.about {
	background: var(--section-background);
	padding-top: 10px;
	padding-bottom: 10px;
}

.about .title {
	font-size: 2.5rem;
	font-weight: bold;
	color: var(--main-color);
	text-align: center;
	margin-bottom: 20px;
}

.about .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}

.about .content p {
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

.about .content q,
.about .content blockquote {
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

.about a {
	text-decoration: none;
	color: var(--main-color-alt);
	transition: var(--main-transition);
	transition: var(--main-transition);
}

.about a:hover {
	color: var(--main-color);
	transition: var(--main-transition);
	text-decoration: underline;
}

.about a:visited {
	color: var(--main-color-alt);
}

.footer {
	background: var(--section-background);
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer .thanks {
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

.footer .thanks ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-right: 60px;
	gap: 160px;
	width: 100%;
}

.footer a {
	text-decoration: none;
	color: var(--main-color-alt);
	transition: var(--main-transition);
}

.footer a:hover {
	color: var(--main-color);
	transition: var(--main-transition);
	text-decoration: underline;
}

.footer a:visited {
	color: var(--main-color-alt);
}

.footer .copyright span {
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
	text-align: center;
	margin-top: 20px;
}

.contact {
	background: var(--section-background);
	padding-top: 10px;
	padding-bottom: 10px;
}

.contact p {
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

.contact h3 {
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

.what {
	background: var(--section-background);
	padding-top: 10px;
	padding-bottom: 10px;
}

.what .container {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
}

.what .title {
	font-size: var(--title-size);
	font-weight: 500;
	color: var(--main-color);
	text-align: center;
	margin-bottom: 20px;
}

.what .title h2 {
	font-size: var(--title-size);
	font-weight: 500;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

.what p {
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

.what ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	margin-right: 60px;
	gap: 100px;
	width: 100%;
}

.what ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
}

.hint {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
}

.hint h2 {
	font-size: var(--title-size);
	font-weight: 500;
	color: red;
	text-align: center;
	margin-bottom: 20px;
	transition: var(--main-transition);
}

.hint h2:hover {
	font-size: 3.2rem;
	transition: var(--main-transition);
	text-decoration: underline;
}

.hint p {
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

.hint a {
	color: var(--main-color-alt);
}

.duaa,
.days,
.salawat,
.ramadan {
	background: var(--section-background);
}

.duaa,
.monajat,
.days,
.taqeebat,
.salawat,
.ramadan,
.ziyarat {
	box-shadow: 0.75px 0.75px 0.75px 0.75px var(--box-shadow);
}

.duaa .container,
.monajat .container,
.days .container,
.taqeebat .container,
.salawat .container,
.ramadan .container,
.ziyarat .container {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
}

.duaa .title,
.monajat .title,
.days .title,
.taqeebat .title,
.salawat .title,
.ramadan .title,
.ziyarat .title {
	font-size: var(--title-size);
	font-weight: 500;
	color: var(--main-color);
	text-align: center;
	margin-bottom: 20px;
}

.duaa .title h2,
.monajat .title h2,
.days .title h2,
.taqeebat .title h2,
.salawat .title h2,
.ramadan .title h2,
.ziyarat .title h2 {
	font-size: var(--title-size);
	font-weight: 500;
	color: black;
	text-align: center;
	margin-bottom: 20px;
	transition: var(--main-transition);
}

.duaa .title h2:hover,
.monajat .title h2:hover,
.days .title h2:hover,
.taqeebat .title h2:hover,
.salawat .title h2:hover,
.ramadan .title h2:hover,
.ziyarat .title h2:hover {
	font-size: 3.25rem;
	transition: var(--main-transition);
	color: var(--main-color);
}

.duaa p,
.monajat p,
.days p,
.taqeebat p,
.salawat p,
.ramadan p,
.ziyarat p {
	font-size: 1rem;
	font-weight: 500;
	color: black;
	text-align: center;
	margin-bottom: 20px;
	transition: var(--main-transition);
}

.duaa p:hover,
.monajat p:hover,
.days p:hover,
.taqeebat p:hover,
.salawat p:hover,
.ramadan p:hover,
.ziyarat p:hover {
	transition: var(--main-transition);
	font-size: 1.25rem;
}

.duaa .usage,
.monajat .usage,
.days .usage,
.taqeebat .usage,
.salawat .usage,
.ramadan .usage,
.ziyarat .usage {
	margin-top: 30px;
	margin-left: 60px;
	text-align: left;
}

.duaa .usage p,
.monajat .usage p,
.days .usage p,
.taqeebat .usage p,
.salawat .usage p,
.ramadan .usage p,
.ziyarat .usage p {
	font-size: 1.2rem;
	font-weight: 600;
	color: black;
	text-align: left;
	margin-bottom: 20px;
	display: block;
}

.duaa .usage p:hover,
.monajat .usage p:hover,
.days .usage p:hover,
.taqeebat .usage p:hover,
.salawat .usage p:hover,
.ramadan .usage p:hover,
.ziyarat .usage p:hover {
	font-size: 1.35rem;
	transition: var(--main-transition);
	color: var(--main-color-alt);
}

.duaa .usage span,
.monajat .usage span,
.days .usage span,
.taqeebat .usage span,
.salawat .usage span,
.ramadan .usage span,
.ziyarat .usage span {
	font-size: 1.2rem;
	display: block;
	font-weight: 500;
	color: black;
	text-align: left;
	margin-bottom: 20px;
}

.duaa .usage code,
.monajat .usage code,
.days .usage code,
.taqeebat .usage code,
.salawat .usage code,
.ramadan .usage code,
.ziyarat .usage code {
	background-color: var(--code);
	display: block;
	font-size: 1.2rem;
	font-weight: 500;
	color: black;
	text-align: left;
	margin-bottom: 20px;
	margin-left: 40px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px var(--box-shadow);
}

.duaa .usage h3,
.monajat .usage h3,
.days .usage h3,
.taqeebat .usage h3,
.salawat .usage h3,
.ramadan .usage h3,
.ziyarat .usage h3 {
	font-size: 1.4rem;
	font-weight: bold;
	color: black;
	text-align: left;
	display: block;
	margin-bottom: 20px;
	transition: var(--main-transition);
}

.duaa .usage h3:hover,
.monajat .usage h3:hover,
.days .usage h3:hover,
.taqeebat .usage h3:hover,
.salawat .usage h3:hover,
.ramadan .usage h3:hover,
.ziyarat .usage h3:hover {
	font-size: 1.6rem;
	transition: var(--main-transition);
	color: var(--main-color-alt);
}

.duaa .usage code span,
.monajat .usage code span,
.days .usage code span,
.taqeebat .usage code span,
.salawat .usage code span,
.ramadan .usage code span,
.ziyarat .usage code span {
	padding: 0 20px;
	font-size: 1.1rem;
	display: block;
	font-weight: 500;
	color: var(--code-span);
	text-align: left;
	margin-bottom: 20px;
	transition: var(--main-transition);
}

.duaa .usage code span:hover,
.monajat .usage code span:hover,
.days .usage code span:hover,
.taqeebat .usage code span:hover,
.salawat .usage code span:hover,
.ramadan .usage code span:hover,
.ziyarat .usage code span:hover {
	font-size: 1.25rem;
	transition: var(--main-transition);
}

/* RESPONSIVE */
@media screen and (max-width: 760px) {
	header {
		width: 100%;
		height: 80px;
	}
	header .container .title {
		display: none;
	}
	header .container .links ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 50px;
		margin: 10px;
	}
	header .container ul li a {
		font-size: 1.2rem;
		font-weight: bold;
		color: black;
		text-align: center;
		margin-bottom: 20px;
		transition: var(--main-transition);
	}
	.what ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 50px;
		margin: 10px;
		flex-wrap: wrap;
		margin-top: 10px;
	}
	code {
		margin-right: 25px;
		width: 100%;
	}
}
